.input{
	font-size: 0px;
}
.fondo{
	background : white;
}
.ficha{
	border: 1px solid #e0e0e0;
	width: 100px;
	height:100px;

	}
	
.ficha[value="x"]
{
	background-image: url("x.png");
	background-size: 100px;	
}
.ficha[value="o"]
{ 
	background-image: url("o.png");
	background-size: 100px;
	
}

